*{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.header{
    background: url('./Images/pic-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    opacity: 0.75;

}
.header-logo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
   background-color: rgb(48, 47, 47);
   color: aliceblue;
   width: 350px;
   height: 35px;
   font-size: 28px;
   letter-spacing: 3px;
   text-transform: uppercase;
   margin-top: 150px;
}
.nav ul{
    display: flex;
    gap: 10px;
    text-transform: uppercase;
   
}
ul li{
    list-style: none;
    padding: 7px 12px;
    font-size: 14px;
}
ul li:hover{
    background-color: rgb(204, 204, 204);
    
}
.about-container{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 80px;
}
.about-title{
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(99, 99, 99);
}
.hobby-title{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    color: rgb(99, 99, 99);
}
.detail-website{
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(99, 99, 99);
}
.about-myself{
    display: flex;
   
    gap: 25px;
    margin-top: 70px;
}
.name{
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    color: rgb(99, 99, 99);
}
.my-img{
    width: 50%;
    margin-top: 30px;
    opacity: 0.75;
}
.img-div{
    width: 50%;
}
.description-div{
    width: 50%;
}
.img-div img{
    width: 100%;
}
.description-div{
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(99, 99, 99);
}