* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.header {
    background: url('./Images/pic-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    opacity: 0.75;

}

.header-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #000;
    color: aliceblue;
    width: 350px;
    height: 35px;
    font-size: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 150px;
}


.nav ul {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    /* position: relative; */

}

ul li {
    list-style: none;
    padding: 7px 12px;
    font-size: 16px;
    position: sticky;
    top: 0;
}

ul li:hover {
    background-color: rgb(204, 204, 204);

}

#home {
    text-decoration: none;
    color: black;
}

.about-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
}

.about-title {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(99, 99, 99);
}

.hobby-title {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    color: rgb(99, 99, 99);
}

.detail-website {
    margin-top: 15px;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(99, 99, 99);
}

.about-myself {
    display: flex;
    gap: 35px;
    margin-top: 70px;
}

.name {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: rgb(99, 99, 99);
}

.my-img {
    width: 50%;
    margin-top: 30px;
    opacity: 0.75;
}

.my-img:hover {
    opacity: 1;
}

.img-div {
    width: 50%;
}

.description-div {
    width: 50%;
}

.img-div img {
    width: 100%;
}

.description-div {
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(99, 99, 99);
}

.specialist {
    margin-top: 70px;
}

.skill-title {
    font-size: 18px;
    text-align: center;
    color: rgb(99, 99, 99);
}


.title-skill-item {
    letter-spacing: 3px;
    color: rgb(99, 99, 99);
    margin-top: 20px;
    font-size: 18px;
}

.container {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    background-color: rgb(234, 232, 232);
    text-align: center;
    color: #ffff;



}

#photography {
    width: 90%;
    height: 35px;
    background-color: rgb(126, 126, 126);
    font-size: 17px;


}

#web-design {
    width: 85%;
    height: 35px;
    background-color: rgb(126, 126, 126);
    font-size: 17px;

}

#photo-shop {
    width: 75%;
    height: 35px;
    background-color: rgb(126, 126, 126);
    font-size: 17px;

}

.review-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(126, 126, 126);
    padding: 40px 0;
    color: #ffff;
    font-size: 28px;
}

.review-title {
    font-size: 18px;
}

.portfolio-img {
    background-image: url('./Images/pic-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0.75;
}

.portfolio-title {
    /* text-align: center; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px auto; */
    height: 330px;
    font-size: 35px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffff;

}

.my-work {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 80px;
}

.work-title {
    text-transform: uppercase;
    color: rgb(99, 99, 99);
    font-size: 28px;
    text-align: center;
}

.work-title-detail {
    color: rgb(99, 99, 99);
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
}

.works img {
    width: 100%;
}

.works img:hover {
    opacity: 0.75;
}

.works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 35px;
}

.load-btn {
    text-align: center;
    margin-top: 40px;

}

.btn {
    padding: 14px 18px;
    border: 0;
    text-transform: uppercase;
    background-color: rgb(233, 233, 233);
    letter-spacing: 1px;
    font-size: 17px;
}

.btn:hover {
    background-color: rgb(198, 197, 197);
}




.contact {
    margin-top: 60px;
    background-image: url('./Images/pic-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 300px;
    opacity: 0.75;
    width: 100%;
}

.contact-title {
    text-align: center;
    margin-top: 60px;
    font-size: 28px;
    text-transform: uppercase;
    color: rgb(99, 99, 99);
}

.feedback-title {
    text-align: center;
    color: rgb(99, 99, 99);
    margin-top: 15px;
    font-size: 18px;
}

.address-container {
    max-width: 900px;
    margin: 0 auto;

}

.address {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 20px;
}

.map img {
    width: 100%;
}

.address-text {
    margin-top: 15px;
    gap: 10px;
    color: rgb(99, 99, 99);

}

.icon {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(99, 99, 99);
    margin-left: 10px;

}

#icon {
    margin-top: 10px;
    font-size: 18px;
    white-space: nowrap;
    color: rgb(99, 99, 99);
    margin-left: 10px;
}

/* .fa-solid{
    margin-left: -30px;
} */

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 104px;

    margin-top: 20px;
}

.input {
    white-space: nowrap;

}

#name {
    width: 240px;
    height: 30px;
    color: rgb(99, 99, 99);
    font-size: 17px;
}

#email {
    width: 240px;
    height: 30px;
    color: rgb(99, 99, 99);
    margin-left: 10px;
    font-size: 17px;
}

#massage {
    margin-top: 10px;
    font-size: 17px;
    height: 30px;
    color: rgb(99, 99, 99);

}

.massage-btn {
    text-align: end;
    margin-top: 15px;
    margin-right: 105px;

}

.send-btn {
    text-transform: uppercase;
    background-color: #000;
    color: #ffff;
    padding: 10px 18px;
    border: 0;
    font-size: 17px;

}

.send-btn:hover {
    background-color: rgb(126, 126, 126);
    color: #ffff;
}

.footer {
    margin-top: 120px;
    background-color: rgb(126, 126, 126);
    height: 250px;


}

.footer:hover {
    background-color: #000;
    color: #ffff;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    margin-right: 6px;
    color: #ffff;
    gap: 7px;
    margin-top: 10px;


}

.fa-brands {
    color: #ffff;
}

.fa-brands:hover {
    color: rgb(198, 196, 196);
}


.back-to-top {
    padding: 10px 14px;
    margin-left: 700px;
    margin-top: 90px;
    background-color: #ffff;
    border: 0;
    margin-bottom: 15px;
    font-size: 17px;

}

.back-to-top:hover {
    background-color: rgb(205, 203, 203);
}

.copyright-text {
    text-align: center;
    color: #ffff;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
    letter-spacing: 1.5px;

}

.copyright-text:hover {
    color: rgb(198, 196, 196);
}

@media screen and (max-width:576px) {

    .nav ul {
        flex-direction: column;
        margin-left: -30px;
        /* text-align: center; */

    }

    .header {
        background: url('./Images/pic-1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        object-fit: cover;


    }

    ul li:hover {
        background-color: rgb(204, 204, 204);
        width: 20%;
        white-space: nowrap;

    }

    .header-logo {

        margin-top: 60px;
    }

    .about-container {

        text-align: center;
    }

    .my-img {
        width: 100%;

    }

    .img-div {
        width: 100%;
    }

    .description-div {
        width: 100%;
        text-align: center;
    }

    .about-myself {
        display: flex;
        flex-direction: column;
    }

    .portfolio-img {
        background-image: url('./Images/pic-3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: cover; */
        width: 100%;
        height: 300px;

    }

}

.name {
    font-size: 18px;
    margin: 0 auto;

}

.review-container {

    flex-direction: column;
    gap: 15px;

}

.works {

    grid-template-columns: repeat(1, 1fr);
    gap: 15px;

}

.contact {
    margin-top: 60px;
    background-image: url('./Images/pic-2.jpg');
    background-position: center;
    background-repeat: no-repeat;

    object-fit: cover;
    width: 100%;
    height: 300px;

}

.about-container {
    max-width: 100%;
    margin: 0 auto;

}

.my-work {
    max-width: 100%;
    margin: 0 auto;

}

.address-container {
    max-width: 100%;
    margin: 0 auto;

}

.address {


    grid-template-columns: repeat(1, 1fr);

}

.address-text {
    text-align: center;
}

.map img {
    width: 100%;
}

.form {

    grid-template-columns: repeat(1, 1fr);


    margin-top: 30px;
}

#name {
    width: 50%;
    margin-left: 50px;

}

#email {
    width: 50%;

}

#massage {
    width: 100%;
    margin-left: 60px;
}

.massage-btn {

    margin-left: 85px;
    white-space: nowrap;

}

.send-btn {

    padding: 8px 14px;
    border: 0;
    font-size: 16px;


}

.footer {
    width: 100%;

}

.back-to-top {
    margin-left: 140px;
    margin-top: 100px;


}

